# Twitch Bot Composer (Viz-Heavy)
services:
  agent:
    image: ${image:-bob-nexus:latest}
    user: "${HOST_UID}:${HOST_GID}" # Permission Fix: Run as host user
    network_mode: host
    env_file:
      - .env
    environment:
      - BOB_LAUNCH_CONFIG=/app/entities/${CATEGORY}/${NAME}/launch.yaml
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-42}
      - ROS_DISCOVERY_SERVER=${ROS_DISCOVERY_SERVER}
      # Internal engine variables
      - NAME=${NAME}
      - CATEGORY=${CATEGORY}
      - BOB_NEXUS_DIR=/app
      - HOME=/app/entities/${CATEGORY}/${NAME}
      - ROS_HOME=/app/entities/${CATEGORY}/${NAME}/.ros
      # Path pointers for internal resolving
      - BOB_LLM_DIR=/app/ros2_ws/src/bob_llm
      - BOB_SDLVIZ_DIR=/app/ros2_ws/src/bob_sdlviz
    volumes:
      - ${HOST_NEXUS_DIR}/ros2_ws:/app/ros2_ws:rw
      - ${HOST_NEXUS_DIR}/master/config:/app/master/config:ro
      - ${HOST_NEXUS_DIR}/memory:/app/memory:rw
      - .:/app/entities/${CATEGORY}/${NAME}:rw
    command: >
      /bin/bash -c " source /opt/ros/humble/setup.bash && if [ -f /app/ros2_ws/install/setup.bash ]; then source /app/ros2_ws/install/setup.bash; fi && if ! ros2 pkg list | grep -q bob_launch; then
        echo '[*] SAE: Core packages not found. Building...' &&
        cd /app && echo n | ./onboarding.sh;
        source /app/ros2_ws/install/setup.bash;
      fi && cd /app/entities/${CATEGORY}/${NAME} && echo '[*] SAE: Launching Twitch Bot ${NAME} (Stream-Heavy)...' && ros2 launch bob_launch generic.launch.py config:=./launch.yaml "
