# Twitch Bot Composer (Viz-Heavy)
services:
  agent:
    image: ${image:-bob-nexus:latest}
    user: "${HOST_UID}:${HOST_GID}" # Permission Fix: Run as host user
    network_mode: host
    env_file:
      - .env
    environment:
      - BOB_LAUNCH_CONFIG=${HOST_NEXUS_DIR}/entities/${CATEGORY}/${NAME}/launch.yaml
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-42}
      - ROS_NAMESPACE=${COMMON_NS}/${NAME}
      - ROS_DISCOVERY_SERVER=${ROS_DISCOVERY_SERVER}
      # Internal engine variables
      - NAME=${NAME}
      - CATEGORY=${CATEGORY}
      - BOB_NEXUS_DIR=${HOST_NEXUS_DIR}
      - HOME=${HOST_NEXUS_DIR}/entities/${CATEGORY}/${NAME}
      - ROS_HOME=${HOST_NEXUS_DIR}/entities/${CATEGORY}/${NAME}/.ros
      # Path pointers for internal resolving
      - BOB_LLM_DIR=${HOST_NEXUS_DIR}/ros2_ws/src/bob_llm
      - BOB_SDLVIZ_DIR=${HOST_NEXUS_DIR}/ros2_ws/src/bob_sdlviz
    volumes:
      - ${HOST_NEXUS_DIR}:${HOST_NEXUS_DIR}:rw
    working_dir: ${HOST_NEXUS_DIR}
    command: >
      /bin/bash -c " source /opt/ros/humble/setup.bash && if [ -f ${HOST_NEXUS_DIR}/ros2_ws/install/setup.bash ]; then source ${HOST_NEXUS_DIR}/ros2_ws/install/setup.bash; fi && if [ ! -f ${HOST_NEXUS_DIR}/ros2_ws/install/setup.bash ]; then
        echo '[*] SAE: Core packages not found. Building...' &&
        cd ${HOST_NEXUS_DIR} && echo n | ./onboarding.sh;
        source ${HOST_NEXUS_DIR}/ros2_ws/install/setup.bash;
      fi && cd ${HOST_NEXUS_DIR}/entities/${CATEGORY}/${NAME} && echo '[*] SAE: Launching Twitch Bot ${NAME} (Stream-Heavy)...' && ros2 launch bob_launch generic.launch.py config:=./launch.yaml "
