WEBVIDEO_WIDTH=834
WEBVIDEO_HEIGHT=150
WEBVIDEO_FPS=30.0
WEBVIDEO_FIFO_PATH=/tmp/nexus_pipes/overlay_terminal
WEBVIDEO_CSS_PATH="./style.css"
SIGNAL_TOPIC=/bob/llm_stream
ENTITY_USE_ROS=true
QT_QPA_PLATFORM=offscreen
