services:
  nexus:
    build:
      context: .
      dockerfile: Dockerfile
    image: bob-nexus:latest
    container_name: bob_nexus_core
    network_mode: host
    environment:
      - NAME=mastermind
      - WORKSPACE_POLICY=master
      - WORKSPACE_MODE=rw
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GID=${HOST_GID:-1000}
      - HOST_NEXUS_DIR=${PWD}
    volumes:
      - .:/app
      - ./ros2_ws:/app/ros2_ws:rw
      - /var/run/docker.sock:/var/run/docker.sock
    command: /app/master/core/entrypoint.sh
    restart: unless-stopped
